{# purpose of this template: show moderation block #}
{% if moderationObjects|length > 0 %}
    <ul>
    {% for modItem in moderationObjects %}
        {% set itemObjectType = modItem.objectType|lower %}
        {% if itemObjectType in ['message'] %}
            <li><a href="{{ path('munewsmodule_' ~ itemObjectType ~ '_adminview', {workflowState: modItem.state}) }}" class="font-weight-bold">{{ modItem.message }}</a></li>
        {% elseif itemObjectType in ['message', 'image'] %}
            <li><a href="{{ path('munewsmodule_' ~ itemObjectType ~ '_adminindex', {workflowState: modItem.state}) }}" class="font-weight-bold">{{ modItem.message }}</a></li>
        {% else %}
            <li><strong>{{ modItem.message }}</strong></li>
        {% endif %}
    {% endfor %}
    </ul>
{% endif %}
