{# purpose of this template: reusable display of standard fields #}
{% set showAuthor = getModVar('MUNewsModule', 'showAuthor') %}
{% set showDate = getModVar('MUNewsModule', 'showDate') %}
{% if showAuthor == 1 and showDate == 1 %} 
    {% set status = 'both' %}
{% else %}
    {% if showAuthor == 0 %}
        {% set status = 'date' %}
        {% if showDate == 0 %}
            {% set status = 'none' %}
        {% endif %}       
    {% else %}
        {% set status = 'author' %}  
    {% endif %}
{% endif %}
{% if (obj.createdBy|default and obj.createdBy.uid > 0) and (obj.updatedBy|default and obj.updatedBy.uid > 0) %}
    <dl class="propertylist">
    {% if obj.createdBy|default and obj.createdBy.uid > 0 %}
        {% set profileLink = obj.createdBy.uid|profileLinkByUserId() %}
        {% if (status == 'both' or status == 'author') and obj.author == '' %}
        <dd class="message-avatar">{{ userAvatar(obj.createdBy.uid, {rating: 'g'}) }}</dd>
        {% endif %}
        <dd>
            {% if status == 'both' %}
                {% if obj.author == '' %} 
                    {{ 'Created by %user% on %date%'|trans({'%user%': profileLink, '%date%': obj.createdDate|format_datetime('medium', 'short')})|raw }}
                {% else %}
                    {{ 'Created by %user% on %date%'|trans({'%user%': obj.author, '%date%': obj.createdDate|format_datetime('medium', 'short')})|raw }}
                {% endif %}
            {% endif %}
            {% if status == 'author' %}
            {% if obj.author == '' %}   
                {{ 'Created by %user%'|trans({'%user%': profileLink})|raw }}
            {% else %}
                {{ 'Created by %user%'|trans({'%user%': obj.author})|raw }}
            {% endif %}
            {% endif %}
            {% if status == 'date' %}
                {{ 'Created on %date%'|trans({'%date%': obj.createdDate|format_datetime('medium', 'short')})|raw }}
            {% endif %}
            {% if currentUser.loggedIn %}
                {% set sendMessageUrl = obj.createdBy.uid|messageSendLink(urlOnly=true) %}
                {% if sendMessageUrl != '#' %}
                    <a href="{{ sendMessageUrl }}" title="{% trans with {'%userName%': obj.createdBy.uname} %}Send private message to %userName%{% endtrans %}"><i class="fas fa-envelope"></i></a>
                {% endif %}
            {% endif %}
        </dd>
    {% endif %}<br />
    {% if obj.updatedBy|default and obj.updatedBy.uid > 0 and obj.updatedBy != obj.createdBy %}
        {% set profileLink = obj.updatedBy.uid|profileLinkByUserId() %}
        {% if status == 'both' or status == 'author' %}
        <dd class="message-avatar">{{ userAvatar(obj.updatedBy.uid, {rating: 'g'}) }}</dd>
        {% endif %}
        <dd>
            {% if status == 'both' %}
                {{ 'Last update by %user% on %date%'|trans({'%user%': profileLink, '%date%': obj.updatedDate|format_datetime('medium', 'short')})|raw }}
            {% endif %}
            {% if status == 'author' %}
                {{ 'Last update by %user%'|trans({'%user%': profileLink})|raw }}
            {% endif %}
            {% if status == 'date' %}
                    {{ 'Last update on %date%'|trans({'%date%': obj.updatedDate|format_datetime('medium', 'short')})|raw }}
            {% endif %}
            {% if currentUser.loggedIn %}
                {% set sendMessageUrl = obj.updatedBy.uid|messageSendLink(urlOnly=true) %}
                {% if sendMessageUrl != '#' %}
                    <a href="{{ sendMessageUrl }}" title="{% trans with {'%userName%': obj.updatedBy.uname} %}Send private message to %userName%{% endtrans %}"><i class="fas fa-envelope"></i></a>
                {% endif %}
            {% endif %}
        </dd>
    {% endif %}
    </dl>
{% endif %}
