{# purpose of this template: messages view filter form #}
{% import _self as helper %}
{% macro renderQuickNavEntry(quickNavForm, fieldName, isVisible) %}
    {% if attribute(quickNavForm, fieldName) is defined and attribute(quickNavForm, fieldName) is not null %}
        {% if not isVisible %}
            <div class="hidden">
        {% endif %}
            {{ form_row(attribute(quickNavForm, fieldName)) }}
        {% if not isVisible %}
            </div>
        {% endif %}
    {% endif %}
{% endmacro %}
{% if permissionHelper.mayUseQuickNav('message') %}
    {% form_theme quickNavForm with [
        'bootstrap_3_layout.html.twig'
    ] %}
    {{ form_start(quickNavForm, {attr: {id: 'mUNewsModuleMessageQuickNavForm', class: 'munewsmodule-quicknav navbar-form', role: 'navigation'}}) }}
    {{ form_errors(quickNavForm) }}
    <a href="#collapseMessageQuickNav" role="button" data-toggle="collapse" class="btn btn-default" aria-expanded="false" aria-controls="collapseMessageQuickNav">
        <i class="fa fa-filter" aria-hidden="true"></i> {{ __('Filter') }}
    </a>
    <div id="collapseMessageQuickNav" class="collapse">
        <fieldset>
            <h3>{{ __('Quick navigation') }}</h3>
            {% set categoriesEnabled = featureActivationHelper.isEnabled(constant('MU\\NewsModule\\Helper\\FeatureActivationHelper::CATEGORIES'), 'message') %}
            {% if categoriesEnabled and quickNavForm.categories is defined and quickNavForm.categories is not null %}
                {% if categoryFilter is defined and categoryFilter != true %}
                    <div class="hidden">
                {% else %}
                    <div class="row">
                        <div class="col-sm-3">
                {% endif %}
                    {{ form_row(quickNavForm.categories) }}
                {% if categoryFilter is defined and categoryFilter != true %}
                    </div>
                {% else %}
                        </div>
                        <div class="col-sm-9">
                {% endif %}
            {% endif %}
            {{ helper.renderQuickNavEntry(quickNavForm, 'images', imagesFilter is not defined or imagesFilter == true) }}
            {{ helper.renderQuickNavEntry(quickNavForm, 'workflowState', workflowStateFilter is not defined or workflowStateFilter == true) }}
            {{ helper.renderQuickNavEntry(quickNavForm, 'approver', approverFilter is not defined or approverFilter == true) }}
            {{ helper.renderQuickNavEntry(quickNavForm, 'messageLanguage', messageLanguageFilter is not defined or messageLanguageFilter == true) }}
            {{ helper.renderQuickNavEntry(quickNavForm, 'q', searchFilter is not defined or searchFilter == true) }}
            {% if quickNavForm.sort is defined and quickNavForm.sort is not null %}
                {% if sorting is defined and sorting != true %}
                    <div class="hidden">
                {% endif %}
                    {{ form_row(quickNavForm.sort) }}
                    {% if quickNavForm.sortdir is defined and quickNavForm.sortdir is not null %}
                        {{ form_row(quickNavForm.sortdir) }}
                    {% endif %}
                {% if sorting is defined and sorting != true %}
                    </div>
                {% endif %}
            {% endif %}
            {{ helper.renderQuickNavEntry(quickNavForm, 'num', pageSizeSelector is not defined or pageSizeSelector == true) }}
            {{ helper.renderQuickNavEntry(quickNavForm, 'displayOnIndex', displayOnIndexFilter is not defined or displayOnIndexFilter == true) }}
            {{ helper.renderQuickNavEntry(quickNavForm, 'allowComments', allowCommentsFilter is not defined or allowCommentsFilter == true) }}
            {{ helper.renderQuickNavEntry(quickNavForm, 'noEndDate', noEndDateFilter is not defined or noEndDateFilter == true) }}
            {{ form_widget(quickNavForm.updateview) }}
            <a href="{{ path('munewsmodule_message_' ~ routeArea|default ~ 'view', {tpl: app.request.query.get('tpl', ''), all: app.request.query.get('all', '')}) }}" title="{{ __('Back to default view') }}" class="btn btn-default btn-sm">{{ __('Reset') }}</a>
            {% if categoriesEnabled and quickNavForm.categories is defined and quickNavForm.categories is not null %}
                {% if categoryFilter is defined and categoryFilter != true %}
                {% else %}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </fieldset>
    </div>
    {{ form_end(quickNavForm) }}
{% endif %}
