{# purpose of this template: module configuration page #}
{% extends '@MUNewsModule/adminBase.html.twig' %}
{% trans_default_domain 'config' %}
{% block title 'Settings'|trans %}
{% block admin_page_icon 'wrench' %}
{% block content %}
    <div class="munewsmodule-config">
        {% form_theme form with [
            '@MUNewsModule/Form/bootstrap_4.html.twig',
            '@ZikulaFormExtension/Form/form_div_layout.html.twig'
        ] only %}
        {{ form_start(form) }}
        <div class="zikula-bootstrap-tab-container">
            <ul class="nav nav-tabs" role="tablist">
                {% set tabTitle = 'General settings'|trans %}
                <li class="nav-item" role="presentation">
                    <a id="vars1Tab" href="#tab1" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab" class="nav-link active">{{ tabTitle }}</a>
                </li>
                {% set tabTitle = 'Category settings'|trans %}
                <li class="nav-item" role="presentation">
                    <a id="vars2Tab" href="#tab2" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab" class="nav-link">{{ tabTitle }}</a>
                </li>
                {% set tabTitle = 'Display setting'|trans %}
                <li class="nav-item" role="presentation">
                    <a id="vars3Tab" href="#tab3" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab" class="nav-link">{{ tabTitle }}</a>
                </li>
                {% set tabTitle = 'Upload settings'|trans %}
                <li class="nav-item" role="presentation">
                    <a id="vars4Tab" href="#tab4" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab" class="nav-link">{{ tabTitle }}</a>
                </li>
                {% set tabTitle = 'List views'|trans %}
                <li class="nav-item" role="presentation">
                    <a id="vars5Tab" href="#tab5" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab" class="nav-link">{{ tabTitle }}</a>
                </li>
                {% set tabTitle = 'Images'|trans %}
                <li class="nav-item dropdown" role="presentation">
                    <a id="imagesTabDrop" class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-controls="imagesTabDropSections" aria-expanded="false" title="{{ tabTitle|e('html_attr') }}">{{ tabTitle }}</a>
                    <ul id="imagesTabDropSections" class="dropdown-menu" aria-labelledby="imagesTabDrop">
                    <li class="dropdown-item">
                        <a id="imagesMessageImageUpload1Tab" href="#tabImagesMessageImageUpload1" role="tab" data-toggle="tab" aria-controls="tabImagesMessageImageUpload1">{% trans %}Messages image upload 1{% endtrans %}</a>
                    </li>
                    <li class="dropdown-item">
                        <a id="imagesMessageImageUpload2Tab" href="#tabImagesMessageImageUpload2" role="tab" data-toggle="tab" aria-controls="tabImagesMessageImageUpload2">{% trans %}Messages image upload 2{% endtrans %}</a>
                    </li>
                    <li class="dropdown-item">
                        <a id="imagesMessageImageUpload3Tab" href="#tabImagesMessageImageUpload3" role="tab" data-toggle="tab" aria-controls="tabImagesMessageImageUpload3">{% trans %}Messages image upload 3{% endtrans %}</a>
                    </li>
                    <li class="dropdown-item">
                        <a id="imagesMessageImageUpload4Tab" href="#tabImagesMessageImageUpload4" role="tab" data-toggle="tab" aria-controls="tabImagesMessageImageUpload4">{% trans %}Messages image upload 4{% endtrans %}</a>
                    </li>
                    <li class="dropdown-item">
                        <a id="imagesImageTheFileTab" href="#tabImagesImageTheFile" role="tab" data-toggle="tab" aria-controls="tabImagesImageTheFile">{% trans %}Images the file{% endtrans %}</a>
                    </li>
                    </ul>
                </li>
                {% set tabTitle = 'Moderation'|trans %}
                <li class="nav-item" role="presentation">
                    <a id="vars7Tab" href="#tab7" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab" class="nav-link">{{ tabTitle }}</a>
                </li>
                {% set tabTitle = 'Integration'|trans %}
                <li class="nav-item" role="presentation">
                    <a id="vars8Tab" href="#tab8" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab" class="nav-link">{{ tabTitle }}</a>
                </li>
                {% set tabTitle = 'Workflows'|trans %}
                <li class="nav-item" role="presentation">
                    <a id="workflowsTab" href="#tabWorkflows" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab" class="nav-link">{{ tabTitle }}</a>
                </li>
            </ul>

            {{ form_errors(form) }}
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade show active" id="tab1" aria-labelledby="vars1Tab">
                    {% set tabTitle = 'General settings'|trans %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                        <p class="alert alert-info">{% trans from 'config' %}Here you can change general News settings.{% endtrans %}</p>
                        
                        {% if form.enableAttribution is defined %}
                            {{ form_row(form.enableAttribution) }}
                        {% endif %}
                        {% if form.enableMultiLanguage is defined %}
                            {{ form_row(form.enableMultiLanguage) }}
                        {% endif %}
                        {% if form.showAuthor is defined %}
                            {{ form_row(form.showAuthor) }}
                        {% endif %}
                        {% if form.showDate is defined %}
                            {{ form_row(form.showDate) }}
                        {% endif %}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab2" aria-labelledby="vars2Tab">
                    {% set tabTitle = 'Category settings'|trans %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                        <p class="alert alert-info">{% trans from 'config' %}This section allows you to specify category-related options.{% endtrans %}</p>
                        
                        {% if form.enableCategorization is defined %}
                            {{ form_row(form.enableCategorization) }}
                        {% endif %}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab3" aria-labelledby="vars3Tab">
                    {% set tabTitle = 'Display setting'|trans %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                        {% if form.defaultMessageSorting is defined %}
                            {{ form_row(form.defaultMessageSorting) }}
                        {% endif %}
                        {% if form.defaultMessageSortingBackend is defined %}
                            {{ form_row(form.defaultMessageSortingBackend) }}
                        {% endif %}
                        {% if form.sortingDirection is defined %}
                            {{ form_row(form.sortingDirection) }}
                        {% endif %}
                        {% if form.enableMoreMessagesInCategory is defined %}
                            {{ form_row(form.enableMoreMessagesInCategory) }}
                        {% endif %}
                        {% if form.amountOfMoreArticlesInCategory is defined %}
                            {{ form_row(form.amountOfMoreArticlesInCategory) }}
                        {% endif %}
                        {% if form.displayPdfLink is defined %}
                            {{ form_row(form.displayPdfLink) }}
                        {% endif %}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab4" aria-labelledby="vars4Tab">
                    {% set tabTitle = 'Upload settings'|trans %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                        <p class="alert alert-info">{% trans from 'config' %}Here you can customise the picture upload behaviour.{% endtrans %}</p>
                        
                        {% if form.enablePictureUpload is defined %}
                            {{ form_row(form.enablePictureUpload) }}
                        {% endif %}
                        {% if form.imageFloatOnViewPage is defined %}
                            {{ form_row(form.imageFloatOnViewPage) }}
                        {% endif %}
                        {% if form.imageFloatOnDisplayPage is defined %}
                            {{ form_row(form.imageFloatOnDisplayPage) }}
                        {% endif %}
                        {% if form.maxSize is defined %}
                            {{ form_row(form.maxSize) }}
                        {% endif %}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab5" aria-labelledby="vars5Tab">
                    {% set tabTitle = 'List views'|trans %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                        <p class="alert alert-info">{% trans from 'config' %}Here you can configure parameters for list views.{% endtrans %}</p>
                        
                        {% if form.messageEntriesPerPage is defined %}
                            {{ form_row(form.messageEntriesPerPage) }}
                        {% endif %}
                        {% if form.linkOwnMessagesOnAccountPage is defined %}
                            {{ form_row(form.linkOwnMessagesOnAccountPage) }}
                        {% endif %}
                        {% if form.showOnlyOwnEntries is defined %}
                            {{ form_row(form.showOnlyOwnEntries) }}
                        {% endif %}
                        {% if form.filterDataByLocale is defined %}
                            {{ form_row(form.filterDataByLocale) }}
                        {% endif %}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tabImagesMessageImageUpload1" aria-labelledby="imagesMessageImageUpload1Tab">
                    {% set tabTitle = 'Image settings for messages image upload 1'|trans %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                
                        {% if form.enableShrinkingForMessageImageUpload1 is defined %}
                            {{ form_row(form.enableShrinkingForMessageImageUpload1) }}
                        {% endif %}
                        <div id="shrinkDetailsMessageImageUpload1">
                        {% if form.shrinkWidthMessageImageUpload1 is defined %}
                            {{ form_row(form.shrinkWidthMessageImageUpload1) }}
                        {% endif %}
                        {% if form.shrinkHeightMessageImageUpload1 is defined %}
                            {{ form_row(form.shrinkHeightMessageImageUpload1) }}
                        {% endif %}
                        </div>
                        {% if form.thumbnailModeMessageImageUpload1 is defined %}
                            {{ form_row(form.thumbnailModeMessageImageUpload1) }}
                        {% endif %}
                        {% if form.thumbnailWidthMessageImageUpload1View is defined %}
                            {{ form_row(form.thumbnailWidthMessageImageUpload1View) }}
                        {% endif %}
                        {% if form.thumbnailHeightMessageImageUpload1View is defined %}
                            {{ form_row(form.thumbnailHeightMessageImageUpload1View) }}
                        {% endif %}
                        {% if form.thumbnailWidthMessageImageUpload1Display is defined %}
                            {{ form_row(form.thumbnailWidthMessageImageUpload1Display) }}
                        {% endif %}
                        {% if form.thumbnailHeightMessageImageUpload1Display is defined %}
                            {{ form_row(form.thumbnailHeightMessageImageUpload1Display) }}
                        {% endif %}
                        {% if form.thumbnailWidthMessageImageUpload1Edit is defined %}
                            {{ form_row(form.thumbnailWidthMessageImageUpload1Edit) }}
                        {% endif %}
                        {% if form.thumbnailHeightMessageImageUpload1Edit is defined %}
                            {{ form_row(form.thumbnailHeightMessageImageUpload1Edit) }}
                        {% endif %}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tabImagesMessageImageUpload2" aria-labelledby="imagesMessageImageUpload2Tab">
                    {% set tabTitle = 'Image settings for messages image upload 2'|trans %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                
                        {% if form.enableShrinkingForMessageImageUpload2 is defined %}
                            {{ form_row(form.enableShrinkingForMessageImageUpload2) }}
                        {% endif %}
                        <div id="shrinkDetailsMessageImageUpload2">
                        {% if form.shrinkWidthMessageImageUpload2 is defined %}
                            {{ form_row(form.shrinkWidthMessageImageUpload2) }}
                        {% endif %}
                        {% if form.shrinkHeightMessageImageUpload2 is defined %}
                            {{ form_row(form.shrinkHeightMessageImageUpload2) }}
                        {% endif %}
                        </div>
                        {% if form.thumbnailModeMessageImageUpload2 is defined %}
                            {{ form_row(form.thumbnailModeMessageImageUpload2) }}
                        {% endif %}
                        {% if form.thumbnailWidthMessageImageUpload2View is defined %}
                            {{ form_row(form.thumbnailWidthMessageImageUpload2View) }}
                        {% endif %}
                        {% if form.thumbnailHeightMessageImageUpload2View is defined %}
                            {{ form_row(form.thumbnailHeightMessageImageUpload2View) }}
                        {% endif %}
                        {% if form.thumbnailWidthMessageImageUpload2Display is defined %}
                            {{ form_row(form.thumbnailWidthMessageImageUpload2Display) }}
                        {% endif %}
                        {% if form.thumbnailHeightMessageImageUpload2Display is defined %}
                            {{ form_row(form.thumbnailHeightMessageImageUpload2Display) }}
                        {% endif %}
                        {% if form.thumbnailWidthMessageImageUpload2Edit is defined %}
                            {{ form_row(form.thumbnailWidthMessageImageUpload2Edit) }}
                        {% endif %}
                        {% if form.thumbnailHeightMessageImageUpload2Edit is defined %}
                            {{ form_row(form.thumbnailHeightMessageImageUpload2Edit) }}
                        {% endif %}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tabImagesMessageImageUpload3" aria-labelledby="imagesMessageImageUpload3Tab">
                    {% set tabTitle = 'Image settings for messages image upload 3'|trans %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                
                        {% if form.enableShrinkingForMessageImageUpload3 is defined %}
                            {{ form_row(form.enableShrinkingForMessageImageUpload3) }}
                        {% endif %}
                        <div id="shrinkDetailsMessageImageUpload3">
                        {% if form.shrinkWidthMessageImageUpload3 is defined %}
                            {{ form_row(form.shrinkWidthMessageImageUpload3) }}
                        {% endif %}
                        {% if form.shrinkHeightMessageImageUpload3 is defined %}
                            {{ form_row(form.shrinkHeightMessageImageUpload3) }}
                        {% endif %}
                        </div>
                        {% if form.thumbnailModeMessageImageUpload3 is defined %}
                            {{ form_row(form.thumbnailModeMessageImageUpload3) }}
                        {% endif %}
                        {% if form.thumbnailWidthMessageImageUpload3View is defined %}
                            {{ form_row(form.thumbnailWidthMessageImageUpload3View) }}
                        {% endif %}
                        {% if form.thumbnailHeightMessageImageUpload3View is defined %}
                            {{ form_row(form.thumbnailHeightMessageImageUpload3View) }}
                        {% endif %}
                        {% if form.thumbnailWidthMessageImageUpload3Display is defined %}
                            {{ form_row(form.thumbnailWidthMessageImageUpload3Display) }}
                        {% endif %}
                        {% if form.thumbnailHeightMessageImageUpload3Display is defined %}
                            {{ form_row(form.thumbnailHeightMessageImageUpload3Display) }}
                        {% endif %}
                        {% if form.thumbnailWidthMessageImageUpload3Edit is defined %}
                            {{ form_row(form.thumbnailWidthMessageImageUpload3Edit) }}
                        {% endif %}
                        {% if form.thumbnailHeightMessageImageUpload3Edit is defined %}
                            {{ form_row(form.thumbnailHeightMessageImageUpload3Edit) }}
                        {% endif %}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tabImagesMessageImageUpload4" aria-labelledby="imagesMessageImageUpload4Tab">
                    {% set tabTitle = 'Image settings for messages image upload 4'|trans %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                
                        {% if form.enableShrinkingForMessageImageUpload4 is defined %}
                            {{ form_row(form.enableShrinkingForMessageImageUpload4) }}
                        {% endif %}
                        <div id="shrinkDetailsMessageImageUpload4">
                        {% if form.shrinkWidthMessageImageUpload4 is defined %}
                            {{ form_row(form.shrinkWidthMessageImageUpload4) }}
                        {% endif %}
                        {% if form.shrinkHeightMessageImageUpload4 is defined %}
                            {{ form_row(form.shrinkHeightMessageImageUpload4) }}
                        {% endif %}
                        </div>
                        {% if form.thumbnailModeMessageImageUpload4 is defined %}
                            {{ form_row(form.thumbnailModeMessageImageUpload4) }}
                        {% endif %}
                        {% if form.thumbnailWidthMessageImageUpload4View is defined %}
                            {{ form_row(form.thumbnailWidthMessageImageUpload4View) }}
                        {% endif %}
                        {% if form.thumbnailHeightMessageImageUpload4View is defined %}
                            {{ form_row(form.thumbnailHeightMessageImageUpload4View) }}
                        {% endif %}
                        {% if form.thumbnailWidthMessageImageUpload4Display is defined %}
                            {{ form_row(form.thumbnailWidthMessageImageUpload4Display) }}
                        {% endif %}
                        {% if form.thumbnailHeightMessageImageUpload4Display is defined %}
                            {{ form_row(form.thumbnailHeightMessageImageUpload4Display) }}
                        {% endif %}
                        {% if form.thumbnailWidthMessageImageUpload4Edit is defined %}
                            {{ form_row(form.thumbnailWidthMessageImageUpload4Edit) }}
                        {% endif %}
                        {% if form.thumbnailHeightMessageImageUpload4Edit is defined %}
                            {{ form_row(form.thumbnailHeightMessageImageUpload4Edit) }}
                        {% endif %}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tabImagesImageTheFile" aria-labelledby="imagesImageTheFileTab">
                    {% set tabTitle = 'Image settings for images the file'|trans %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                
                        {% if form.enableShrinkingForImageTheFile is defined %}
                            {{ form_row(form.enableShrinkingForImageTheFile) }}
                        {% endif %}
                        <div id="shrinkDetailsImageTheFile">
                        {% if form.shrinkWidthImageTheFile is defined %}
                            {{ form_row(form.shrinkWidthImageTheFile) }}
                        {% endif %}
                        {% if form.shrinkHeightImageTheFile is defined %}
                            {{ form_row(form.shrinkHeightImageTheFile) }}
                        {% endif %}
                        </div>
                        {% if form.thumbnailModeImageTheFile is defined %}
                            {{ form_row(form.thumbnailModeImageTheFile) }}
                        {% endif %}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab7" aria-labelledby="vars7Tab">
                    {% set tabTitle = 'Moderation'|trans %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                        <p class="alert alert-info">{% trans from 'config' %}Here you can define moderation-related settings.{% endtrans %}</p>
                        
                        {% if form.moderationGroupForMessages is defined %}
                            {{ form_row(form.moderationGroupForMessages) }}
                        {% endif %}
                        {% if form.allowModerationSpecificCreatorForMessage is defined %}
                            {{ form_row(form.allowModerationSpecificCreatorForMessage) }}
                        {% endif %}
                        {% if form.allowModerationSpecificCreationDateForMessage is defined %}
                            {{ form_row(form.allowModerationSpecificCreationDateForMessage) }}
                        {% endif %}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab8" aria-labelledby="vars8Tab">
                    {% set tabTitle = 'Integration'|trans %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                        <p class="alert alert-info">{% trans from 'config' %}These options allow you to configure integration aspects.{% endtrans %}</p>
                        
                        {% if form.enabledFinderTypes is defined %}
                            {{ form_row(form.enabledFinderTypes) }}
                        {% endif %}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tabWorkflows" aria-labelledby="workflowsTab">
                    {% set tabTitle = 'Workflows'|trans %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                
                        <p class="alert alert-info">{% trans %}Here you can inspect and amend the existing workflows.{% endtrans %}</p>
                
                        <h4>{% trans %}Messages{% endtrans %}</h4>
                        <p><a href="{{ path('zikula_workflow_editor_index', {workflow: 'munewsmodule_standard'}) }}" title="{{ 'Edit workflow for messages'|trans|e('html_attr') }}" target="_blank"><i class="fas fa-cubes"></i> {% trans %}Edit messages workflow{% endtrans %}</a>
                        <h4>{% trans %}Images{% endtrans %}</h4>
                        <p><a href="{{ path('zikula_workflow_editor_index', {workflow: 'munewsmodule_none'}) }}" title="{{ 'Edit workflow for images'|trans|e('html_attr') }}" target="_blank"><i class="fas fa-cubes"></i> {% trans %}Edit images workflow{% endtrans %}</a>
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="form-group form-buttons row">
            <div class="col-md-9 offset-md-3">
                {{ form_widget(form.save) }}
                {{ form_widget(form.reset) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
    {{ pageAddAsset('javascript', zasset('@MUNewsModule:js/MUNewsModule.Config.js')) }}
    {{ pageAddAsset('javascript', zasset('@MUNewsModule:js/MUNewsModule.Validation.js'), 98) }}
    {{ pageAddAsset('javascript', zasset('@MUNewsModule:js/MUNewsModule.EditFunctions.js'), 99) }}
    <div id="formEditingDefinition" data-mode="edit" data-entityid="1"></div>
{% endblock %}
