{# purpose of this template: messages xml inclusion template #}
<message id="{{ message.getId() }}" createdon="{{ message.createdDate|localizeddate('medium', 'short') }}" updatedon="{{ message.updatedDate|localizeddate('medium', 'short') }}">
    <id>{{ message.id }}</id>
    <title><![CDATA[{{ message.title }}]]></title>
    <startText><![CDATA[{{ message.startText|safeHtml }}]]></startText>
    <imageUpload1{% if message.imageUpload1 is not empty and message.imageUpload1Meta|default %} extension="{{ message.imageUpload1Meta.extension }}" size="{{ message.imageUpload1Meta.size }}" isImage="{% if message.imageUpload1Meta.isImage %}true{% else %}false{% endif %}"{% if message.imageUpload1Meta.isImage %} width="{{ message.imageUpload1Meta.width }}" height="{{ message.imageUpload1Meta.height }}" format="{{ message.imageUpload1Meta.format }}"{% endif %}{% endif %}>{{ message.imageUpload1 }}</imageUpload1>
    <mainText><![CDATA[{{ message.mainText|safeHtml }}]]></mainText>
    <amountOfViews>{{ message.amountOfViews }}</amountOfViews>
    <author><![CDATA[{{ message.author }}]]></author>
    <approver>{% if message.approver|default and message.approver.getUid() > 0 %}{{ message.approver.getUname() }}{% endif %}</approver>
    <notes><![CDATA[{{ message.notes|safeHtml }}]]></notes>
    <displayOnIndex>{% if not message.displayOnIndex %}0{% else %}1{% endif %}</displayOnIndex>
    <messageLanguage><![CDATA[{{ message.messageLanguage|languageName }}]]></messageLanguage>
    <allowComments>{% if not message.allowComments %}0{% else %}1{% endif %}</allowComments>
    <imageUpload2{% if message.imageUpload2 is not empty and message.imageUpload2Meta|default %} extension="{{ message.imageUpload2Meta.extension }}" size="{{ message.imageUpload2Meta.size }}" isImage="{% if message.imageUpload2Meta.isImage %}true{% else %}false{% endif %}"{% if message.imageUpload2Meta.isImage %} width="{{ message.imageUpload2Meta.width }}" height="{{ message.imageUpload2Meta.height }}" format="{{ message.imageUpload2Meta.format }}"{% endif %}{% endif %}>{{ message.imageUpload2 }}</imageUpload2>
    <imageUpload3{% if message.imageUpload3 is not empty and message.imageUpload3Meta|default %} extension="{{ message.imageUpload3Meta.extension }}" size="{{ message.imageUpload3Meta.size }}" isImage="{% if message.imageUpload3Meta.isImage %}true{% else %}false{% endif %}"{% if message.imageUpload3Meta.isImage %} width="{{ message.imageUpload3Meta.width }}" height="{{ message.imageUpload3Meta.height }}" format="{{ message.imageUpload3Meta.format }}"{% endif %}{% endif %}>{{ message.imageUpload3 }}</imageUpload3>
    <imageUpload4{% if message.imageUpload4 is not empty and message.imageUpload4Meta|default %} extension="{{ message.imageUpload4Meta.extension }}" size="{{ message.imageUpload4Meta.size }}" isImage="{% if message.imageUpload4Meta.isImage %}true{% else %}false{% endif %}"{% if message.imageUpload4Meta.isImage %} width="{{ message.imageUpload4Meta.width }}" height="{{ message.imageUpload4Meta.height }}" format="{{ message.imageUpload4Meta.format }}"{% endif %}{% endif %}>{{ message.imageUpload4 }}</imageUpload4>
    <startDate>{% if message.startDate is not empty %}
        {{ message.startDate|localizeddate('medium', 'short') }}
    {% endif %}</startDate>
    <noEndDate>{% if not message.noEndDate %}0{% else %}1{% endif %}</noEndDate>
    <endDate>{% if message.endDate is not empty %}
        {{ message.endDate|localizeddate('medium', 'short') }}
    {% endif %}</endDate>
    <weight>{{ message.weight }}</weight>
    <workflowState>{{ message.workflowState|munewsmodule_objectState(false)|lower }}</workflowState>
    <images>
    {% if message.images|default %}
        {% for relatedItem in message.images %}
        <image>{{ relatedItem|munewsmodule_formattedTitle }}</image>
        {% endfor %}
    {% endif %}
    </images>
</message>
