{# purpose of this template: messages user list view #}
{% extends '@MUNewsModule/base.html.twig' %}
{% trans_default_domain 'message' %}
{% block title own ? 'My messages'|trans : 'Messages list'|trans %}
{% block content %}
    <div class="munewsmodule-message munewsmodule-view">
        {% set viewActions = knp_menu_get('mUNewsMenuViewActions', [], {objectType: 'message', area: routeArea}) %}
        {{ knp_menu_render(viewActions, {template: '@ZikulaMenuModule/Override/bootstrap_fontawesome.html.twig'}) }}

        {#{ include('@MUNewsModule/Message/viewQuickNav.html.twig') }}{# see template file for available options #}

        {% for message in items %}
            <div class="col-md-12">
                <h3>{{ message.title }}</h3>
                <span class="message-view-categories">{{ include('@MUNewsModule/Helper/includeCategoriesDisplay2.html.twig', {obj: message}) }}</span>
                {% set imageFloatOnView = getModVar('MUNewsModule', 'imageFloatOnViewPage', 'left') %}
                {% set imageFloat = 'float-' ~ imageFloatOnView %}
                {% if message.imageUpload1 is not empty and message.imageUpload1Meta|default %}
                <div class="{{ imageFloat }}">              
                    <a href="{{ message.imageUpload1Url }}" title="{{ message|munewsmodule_formattedTitle|e('html_attr') }}"{% if message.imageUpload1Meta.isImage %} class="image-link"{% endif %}>
                        {% if message.imageUpload1Meta.isImage %}
                            {% set thumbOptions = attribute(thumbRuntimeOptions, 'messageImageUpload1') %}
                            <img src="{% if app.request.requestFormat == 'pdf' %}{{ message.imageUpload1.getPathname() }}{% else %}{{ message.imageUpload1.getPathname()|munewsmodule_relativePath|imagine_filter('zkroot', thumbOptions) }}{% endif %}" alt="{{ message|munewsmodule_formattedTitle|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
                        {% else %}
                            {% trans from 'messages' %}Download{% endtrans %} ({{ message.imageUpload1Meta.size|munewsmodule_fileSize(message.imageUpload1.getPathname(), false, false) }})
                        {% endif %}
                    </a>
                </div>{% else %}&nbsp;{% endif %}
                {{ message.startText|striptags|u.truncate(500, '…') }}
                <br /><br /><a class="btn btn-success btn-sm more-link" href="{{ path('munewsmodule_message_' ~ routeArea ~ 'display', {slug: message.slug}) }}" title="{{ 'View detail page'|trans({}, 'messages')|e('html_attr') }}">{{ 'Read more of %title%'|trans({'%title%': message.title|notifyFilters('munewsmodule.filterhook.messages')|safeHtml}, 'messages') }}</a>
            </div>
        {% endfor %}

        {% if all != 1 %}
            {{ include(paginator.template) }}
        {% endif %}

        {{ block('display_hooks') }}
    </div>
{% endblock %}
{% block display_hooks %}
    {# here you can activate calling display hooks for the view page if you need it #}
    {# % if routeArea != 'admin' %}
        {% set hooks = notifyDisplayHooks(eventName='munewsmodule.ui_hooks.messages.display_view', urlObject=currentUrlObject, outputAsArray=true) %}
        {% if hooks is iterable and hooks|length > 0 %}
            {% for area, hook in hooks %}
                <div class="z-displayhook" data-area="{{ area|e('html_attr') }}">{{ hook|raw }}</div>
            {% endfor %}
        {% endif %}
    {% endif % #}
{% endblock %}
