{# purpose of this template: messages user delete confirmation view #}
{% extends 'MUNewsModule::base.html.twig' %}
{% block title __('Delete message') %}
{% block content %}
    <div class="munewsmodule-message munewsmodule-delete">
        <p class="alert alert-warning">{{ __f('Do you really want to delete this message: "%name%" ?', {'%name%': message|munewsmodule_formattedTitle}) }}</p>

        {% form_theme deleteForm with [
            '@MUNewsModule/Form/bootstrap_3.html.twig',
            'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
        ] %}
        {{ form_start(deleteForm) }}
        {{ form_errors(deleteForm) }}

        {% if formHookTemplates|length > 0 %}
            <fieldset>
                {% for hookTemplate in formHookTemplates %}
                    {{ include(hookTemplate.0, hookTemplate.1, ignore_missing = true) }}
                {% endfor %}
            </fieldset>
        {% endif %}
        <fieldset>
            <legend>{{ __('Confirmation prompt') }}</legend>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    {{ form_widget(deleteForm.delete) }}
                    {{ form_widget(deleteForm.cancel) }}
                </div>
            </div>
        </fieldset>
        {{ form_end(deleteForm) }}

        {{ block('display_hooks') }}
    </div>
{% endblock %}
{% block display_hooks %}
    {{ notifyDisplayHooks(eventName='munewsmodule.ui_hooks.messages.form_delete', id=message.getKey()) }}
{% endblock %}
