{# purpose of this template: general base layout #}
{% block header %}
    {{ pageAddAsset('javascript', asset('magnific-popup/jquery.magnific-popup.min.js')) }}
    {{ pageAddAsset('stylesheet', asset('magnific-popup/magnific-popup.css')) }}
    {{ pageAddAsset('javascript', zasset('@MUNewsModule:js/MUNewsModule.js')) }}
{% endblock %}

{% block appTitle %}
    {{ moduleHeader('user', '', '', false, true, false, true) }}
{% endblock %}

{% block titleArea %}
    <div id="message-display-header">
    <div class="col-md-7">
        <div id="message-title">
            <h2>{% block title %}{% endblock %}</h2>
        </div>
    </div>
    <div class="col-md-5">
        <div id="message-author-info">
        {{ include('@MUNewsModule/Helper/includeStandardFieldsDisplay2.html.twig', {obj: message}) }}
        </div>
    </div>
    </div>
{% endblock %}
{{ pageSetVar('title', block('pageTitle')|default(block('title'))) }}

{{ include('@MUNewsModule/Helper/includeModerationPanel.html.twig') }}

{{ showflashes() }}

{% block content %}{% endblock %}

{% block footer %}
{% endblock %}
