{# Purpose of this template: Display messages within an external context #}
<dl>
    {% for message in items %}
        <dt>{{ message|munewsmodule_formattedTitle }}</dt>
        <dd class="message-view-categories">{{ include('@MUNewsModule/Helper/includeCategoriesDisplay2.html.twig', {obj: message, routeArea: ''}) }}</dd>
        {% if message.startText %}
            <dd>{{ message.startText|striptags|truncate(200, true, '&hellip;')|raw }}</dd>
        {% endif %}
        <dd><a href="{{ path('munewsmodule_message_display', {'slug': message.slug}) }}" title="{{ __('Read more')|e('html_attr') }}">{{ __('Read more') }}</a>
        </dd>
    {% else %}
        <dt>{{ __('No entries found.') }}</dt>
    {% endfor %}
</dl>
